$project-block-height: 13em;
$project-title-height: 2.3em;
$second-column-padding: 0.5em;

$img-padding-top: 0.5em;
$img-padding-left: 0.3em;

$img-height: $project-block-height - 2* $img-padding-top;
$img-width: $img-height * 16 / 9    ;

$first-column: $img-width + $img-padding-left;
// -----------------------------------------
.project-block
{
    display: block;
    border-radius: 1em;
    position: relative;
    margin: 0.8em 0em;
    
    width: 100%;
    max-width: 50rem;

    background-color: $bg-sidebar;
}
.project-block:hover
{
    background-color: $project-hover;
    transition: background 0.3s;
}

.project-block
{
    min-height: 1em;
    height: 100%;
    padding-top: $project-title-height;
}
@media (min-width: $layout-portraitlarge)
{
    .project-block
    {
        height: $project-block-height;
        padding-top: 0;
    }
}
// -----------------------------------------
.project-block .thumbnail
{
    display: block;

    background-repeat: no-repeat;
    background-size: 100%;
}

.project-block .thumbnail
{
    position: relative;
    padding-bottom: 56.666%;
    margin-left: 0.5%;
    width: 99%;
    max-width: 99%;
}
@media (min-width: $layout-portraitlarge)
{
    .project-block .thumbnail
    {
        position: absolute;
        margin: $img-padding-top $img-padding-left;

        width: $img-width;
        height: $img-height;
    }
}
// -----------------------------------------
.project-block .thumbnail img
{
    border-radius: 1em;
}

.project-block .thumbnail img
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: 100%;
}
@media (min-width: $layout-portraitlarge)
{
    .project-block .thumbnail img
    {
        width: $img-width;
    }
}
// -----------------------------------------
.project-block .title
{
    position: absolute;
    display: block;

    top: 0.2em;
    min-width: 15em;
    max-height: $project-title-height;
}

.project-block .title
{
    margin-left: $img-padding-left + $second-column-padding;
}
@media (min-width: $layout-portraitlarge)
{
    .project-block .title
    {
        margin-left: $first-column + $second-column-padding;
    }
}

.project-block .title h2
{
    position: absolute;
    display: block;
    width: 100%;
    margin-top: 0;
    top: Opx;
    color: $accent;
}
// -----------------------------------------
.project-block .description
{
    display: none;
}
@media (min-width: $layout-portraitlarge)
{
    .project-block .description
    {
        display: block;
        height: $project-block-height;
        text-align: left;
        color: $color-main;

        position: absolute;

        top: $project-title-height;
        margin-left: $first-column + $second-column-padding;
        margin-right: 1em;

        max-height: $project-block-height - $project-title-height;
    }
}
